#art{
  border: 5px solid #000; 
  cursor :crosshair; 
  background-color: white;
  position : relative; 
  top:40px; left:40px;
}
#image_temp{
  border: 0px ; 
  cursor :crosshair; 

  position : absolute; 
  top:45px; left:45px;
  
}
body{cursor :auto; 
  background-image: url('background_resized.png');
  background-size:1440px auto; 
  /*background-position-x: right*/
  
}

#buttons {
  position: absolute;

}
#reset {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}
.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}
#red {
  background-color: red;
  cursor :url('red_crayon.png'),auto;
  position : absolute;
  top : -70px;
  left : 900px;
}
#blue {
  background-color: blue;
  cursor :url('blue_crayon.png'),auto;
  position : absolute;
  top : -70px;
  left : 925px;
}
#green {
  background-color: green;
  cursor :url('green_crayon.png'),auto;
  position : absolute;
  top : -70px;
  left : 950px;
}
#purple {
  background-color: purple;
  cursor :url('purple_crayon.png'),auto;
  position : absolute;
  top : -70px;
  left : 975px;
}
#yellow {
  background-color: yellow;
  cursor :url('yellow_crayon.png'),auto;
  position : absolute;
  top : -95px;
  left : 900px;
}
#orange {
  background-color: orange;
  cursor :url('orange_crayon.png'),auto;
  position : absolute;
  top : -95px;
  left : 925px;
}
#pink {
  background-color: pink;
  cursor :url('pink_crayon.png'),auto;
  position : absolute;
  top : -95px;
  left : 950px;
}
#black {
  background-color: black;
  cursor :url('black_crayon.png'),auto;
  position : absolute;
  top : -95px;
  left : 975px;
}
#white {
  background-image: url('erasor.png');
  width: 50px;
  height: 50px;
  border: 0px;
  cursor :url('white_crayon.png'),auto;
  position : absolute;
  top : -95px;
  left : 1000px;

}
#marker{
  background-image: url('marker.png');
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  
  position : absolute;
  top : -95px;
  left : 1100px;
}
#fade{
  background-image: url('fading_pen.png');
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  
  position : absolute;
  top : -95px;
  left : 1160px;
}
#download{
  background-image: url('download.png');
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  position : absolute;
  top : -30px;
  left : 1165px;
}
#imageLoader{
  background-image: url('upload.png');
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  position : absolute;
  top : -30px;
  left : 1105px;
}
#reset{
  background-image: url('reset.png');
  width: 100px;
  height: 34px;
  border: 0px;
  position : absolute;
  top : -10px;
  left : 900px;
}
#undo{
  background-image: url('undo.png');
  width: 50px;
  height: 50px;
  border: 0px;
  position : absolute;
  top : 40px;
  left :650px;
}
#redo{
  background-image: url('redo.png');
  width: 50px;
  height: 50px;
  border: 0px;
  position : absolute;
  top : 39px;
  left :720px;
}
#default{
  background:transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  position : absolute;
  top : -40px;
  left : 900px;
  font-weight :bolder;
}
#three{
  background:transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  position : absolute;
  top : -40px;
  left : 925px;
  font-weight :bolder;
}
#five{
  background:transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  position : absolute;
  top : -40px;
  left : 950px;
  font-weight :bolder;
}
#ten{
  background:transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  position : absolute;
  top : -40px;
  left : 975px;
  font-weight :bolder;
}
#fifteen{
  background:transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  position : absolute;
  top : -40px;
  left : 1000px;
  font-weight :bolder;
}
#twenty{
  background:transparent;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  position : absolute;
  top : -40px;
  left : 1025px;
  font-weight :bolder;
}
#circle{
  background-image: url('circle.png');
  width: 50px;
  height: 50px;
  border: 0px;
  position : absolute;
  top : -350px;
  left :900px;
}
#triangle{
  background-image: url('triangle.png');
  width: 50px;
  height: 50px;
  border: 0px;
  position : absolute;
  top : -275px;
  left :900px;
}
#square{
  background-image: url('square.png');
  width: 50px;
  height: 50px;
  border: 0px;
  position : absolute;
  top : -200px;
  left :900px;
}
#text_cnv{
  position : absolute;
  top : 50px;
  left :40px;
}